<nav class="navbar">
  <ul>
    <% if user_signed_in? %>
      <li>
        <span class="mr-2"><%= current_user.email %></span>
        <%= link_to "登出", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "購物車 (#{current_cart.line_items.count})", cart_path %>
      </li>
    <% else %>
      <li>
        <%= link_to "註冊", new_user_registration_path %>
        <%= link_to "登入", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>
