<h1 class="text-lg">結帳</h1>

<%= render "cart" %>

<%= form_for(@order) do |f| %>
  <%= f.text_field :receiver, class: "input", placeholder: "收件人姓名" %>
  <%= f.text_field :tel, class: "input", placeholder: "連絡電話" %>
  <%= f.text_field :address, class: "input", placeholder: "收件地址" %>
  
<% end %>