<h1 class="h1">購物車</h1>

<% if current_cart.empty? %>
  目前沒東西
<% else %>
  <ul class="my-2">
  <% current_cart.line_items.each do |item| %>
    <li class="grid grid-cols-4 gap-3 py-1 flex items-center">
      <div class="w-36">
        <%= product_img(item.product) %>
      </div>
      <div>
        <%= item.product.title %>
      </div>
      <div>
        NTD <%= number_to_currency item.product.price %>
      </div>
      <div>
        <%= item.quantity %>
      </div>
    </li>
  <% end %>
  </ul>
<% end %>

<section class="flex mt-4">
<%= link_to "商品列表", root_path, class: "bg-blue-500 px-4 py-2 text-white text-lg" %>
<%= link_to "結帳！", "#", class: "bg-red-500 px-4 py-2 text-white text-lg" %>
</section>