<h1 class="h1">賺很大商店</h1>

<section class="products">
  <% @products.each do |product| %>
  <div class="product">
    <%= product_img(product.abbr_title) %>
    <p class="title"><%= product.title %></p>
    <p class="price">NTD <%= number_to_currency product.price %></p>
    <p class="description"><%= product.description %></p>
    <%= link_to "加到購物車", line_items_path(product_id: product.id), method: 'post', class: 'addToCartBtn' %>
  </div>
  <% end %>
</section>

<%= paginate @products %>
